.all-doctors {
    padding: 2rem 4rem;

    .container-fluid {
        .doctors-header {
            @include flexDefine(space-between, center);
            padding-bottom: 2rem;

            .doctors-sort {
                display: inline-block;
                width: 120px;

                .form-select {
                    display: block;
                    width: 100%;
                    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
                    -moz-padding-start: calc(0.75rem - 3px);
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #212529;
                    background-color: #fff;
                    border: 1px solid #3dd3d8;
                    border-radius: 0.25rem;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;

                    option {
                        font-weight: normal;
                        display: block;
                        white-space: nowrap;
                        min-height: 1.2em;
                        padding: 0px 2px 1px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.doctors-footer {
    text-align: center;
    padding-bottom: 2rem;
}