@mixin bgImage($image) {
  background: url($image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

@mixin flexDefine($justify, $align: false, $wrap: false) {
  display: flex;
  justify-content: $justify;
  align-items: $align;

  @if ($wrap) {
    flex-wrap: wrap;
  }
}

@mixin fontsDefine($size, $weight: false, $height: false, $style: false) {
  font-family: Roboto, sans-serif;
  font-size: $size;

  @if ($weight) {
    font-weight: $weight;
  }

  @if ($height) {
    line-height: $height;
  }

  @if ($style) {
    font-style: $style;
  }
}
