$color-pure-black: #000000;
$color-black: #4c4743;
$color-white: #ffffff;
$color-green: #09E5AB;

$color-primary-green: #09DCA4;
$color-secondary-black: #272B41;
$color-paste: #0DE0FE;
$color-secondary-paste: #10DEFD;
$color-gray: #2E3842;
$color-yellow: #F4C150;
$color-pure-green: #28A745;
$text-color-gray: #666666;
$color-blue: #1663A6;
$color-deep-blue: #15558D;
$color-text: #DEDFE0;
$text-secondary:#757575;
$color-gray-secondary:#F8F9FA;

$border-color-dove-gray: #E2E8F0;
$border-color-gray: #989da4;
