.footer {
    background-color: #15558d;
    color: #fff;

    .footer-top {
        padding: 40px 0;

        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
            width: 100%;

            .row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;

                .col-lg-3 {
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                    max-width: 25%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .footer-widget {
                        .footer-logo {
                            margin-bottom: 30px;
                        }

                        ul {
                            li {
                                a {
                                    color: #fff;
                                }
                            }
                        }

                        .footer-about-content {
                            p {
                                color: #fff;
                                margin-top: 0;
                                margin-bottom: 1rem;
                            }

                            .social-icon {
                                ul {
                                    display: -webkit-inline-box;
                                    display: -ms-inline-flexbox;
                                    display: inline-flex;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;

                                    li {
                                        margin-right: 15px;
                                        display: list-item;
                                        text-align: -webkit-match-parent;

                                        a {
                                            color: #fff;
                                            display: -webkit-inline-box;
                                            display: -ms-inline-flexbox;
                                            display: inline-flex;
                                            font-size: 20px;
                                            transition: all 0.4s ease 0s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
            margin-right: auto;
            margin-left: auto;

            .copyright {
                border-top: 1px solid #1663a6;
                padding: 30px 0;

                .row {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;

                    .col-lg-6 {
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;

                        .copyright-text {
                            p {
                                color: #fff;
                                font-size: 15px;

                                a {
                                    color: #09e5ab;
                                    -webkit-transition: all 0.4s ease 0s;
                                    -o-transition: all 0.4s ease 0s;
                                    transition: all 0.4s ease 0s;
                                }
                            }
                        }

                        .copyright-menu {
                            .policy-menu {
                                font-size: 14px;
                                margin: 0;
                                padding: 0;
                                text-align: right;

                                li {
                                    display: inline-block;
                                    margin-right: 15px;

                                    a {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
